
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>

*, th, td { font-family: 'Roboto', 'Arial Narrow', sans-serif; font-weight: 300; }

strong, b { font-weight: 500 !important; }

body { padding: 0px 0 50px 0; margin-top: 0px; background: #fff; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

h1 { font-weight: 900; font-size: 40px; }

h2 { font-size: 24px !important; border-bottom: 1px solid #ccc; margin-top: 48px !important; }

h3 { font-size: 18px !important; }

h4 { font-size: 14px !important; }

pre, code { font-family: Monaco, monospace !important; }

code { white-space: nowrap; }

table thead * { font-weight: bold !important; }


.inline{
  display:inline;
  padding:5px 10px;
  font-family: 'Roboto', 'Arial Narrow', sans-serif;
  font-weight: 300;
  background:#fafafa;
}
.tables{margin-top:20px;width:100%;background:white;padding:0px; margin:0px;
font-family: 'Roboto', 'Arial Narrow', sans-serif;}
.tables thead * {
    font-weight: bold !important;
    background: #e5e5e5 !important;
}
.tables td{
      padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.labels {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;

}

.tab2{
  width:100wv;
  height:34px;
  text-align:center;
  padding:4px 4px 5px 4px;
  margin-top:5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-color: #bce8f1;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  cursor:pointer;
}
.border-bottom{
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
}
.methods{
    font-family: 'Roboto', 'Arial Narrow', sans-serif;
    font-weight: 300;
    font-size: 75%;
    display: inline-block;
    min-width: 80px;
    padding: 4px;
    line-height: 18px;
    color: #fff;
    float:left;

}
.light-blue{background-color: #bce8f1;}
.dark-blue{background-color: #337ab7;}
.color-blue{color: #337ab7;}

.light-green{
    background-color: #d6e9c6;
    border-color: #d6e9c6;
    }
.dark-green{
    background-color: #5cb85c;
    color: #fff;}
.color-green{color: #5cb85c;}
.light-yellow{
    background-color: #faebcc;
    border-color: #faebcc;
    }
.dark-yellow{background-color: #f0ad4e;}
.color-yellow{color: #f0ad4e;}

.light-red{
    background-color: #ebccd1;
    border-color: #ebccd1;
    /* color: #a94442; */
}
.color-red{color: #d9534f;}
.dark-red{
    background-color: #d9534f;
    color: #fff;}

.pagecontent{
  width:100wv;
  display:none;
  padding:10px;
}
</style>
<script>
$(document).ready(function(){

    $(".btns").click(function(){
      $(this).toggleClass('border-bottom');
      var id = $(this).attr('data-id')
      $("#drop-"+id).slideToggle()
});

});
</script>

<div id="cc">
    <div class="container">
        <div class="row">
        <div class="col-md-12">

            <h3>Base: v{{ spec['base_version'] }}
                <br><br>
                {{ spec['application'] }} : v{{ spec['version'] }}
                - port: {{ spec['port'] }}</h3>
            <h5 style="color:darkgray">{{ spec['application_description'] }}</h5>
            <br><br>
            <h3>{{ spec['application'] }}</h3><hr>

            {% set color = '' %}
            {% set x = 0 %}

            {% for req in spec['api'] %}

                <h3 style="margin:30px 0px 0 0px;">{{ req }}</h3>
                <h5 style="margin:5px 0px;color:darkgray;font-weight: 200;">{{ req }}</h5>

                {% for r in spec['api'][req] %}


                    {% for s in r %}
                        {% if s == 'post' %}
                            {% set color = 'green' %}
                        {% elif s == 'get' %}
                            {% set color = 'blue' %}
                        {% elif s == 'put' %}
                            {% set color = 'yellow' %}
                        {% else %}
                            {% set color = 'red' %}
                        {% end %}
                        {% if  r[s]['uri'] != None %}
                            {% set url = r[s]['uri'] %}
                        {% else %}
                            {% set url = 'Missing url' %}
                        {% end %}
                        {% if  r[s]['description'] != None %}
                            {% set desc = r[s]['description'] %}
                        {% else %}
                            {% set desc = 'Missing description' %}
                        {% end %}
                        {% if  r[s]['authenticated'] != None %}
                            {% set auth = r[s]['authenticated'] %}
                        {% else %}
                            {% set auth = 'Missing description' %}
                        {% end %}
                        {% if auth == True %}
                            {% set auth = '<img src="/static/img/key_base.png" width="20px" />' %}
                        {% else %}
                            {% set auth = '<i class="fa fa-link"></i>' %}
                        {% end %}
                        {% set method = s %}

                        <div class='btns border-bottom tab2 light-{{color}}' data-id='{{ x }}' id='btn-{{x}}' >
                            <div class='labels methods dark-{{color}}'>{{ method }}</div>
                                <span class='color-{{color}}' style='float:left;padding-left:10px;'>
                                    {{url}}
                                </span>

                                <span class='color-{{color}}' style='float: right'>{{ desc }}
                                    {%  raw auth %}
                                </span>
                        </div>
                        <div id='drop-{{x}}' class='light-{{color}} pagecontent '>
                            <!--START CONTENT-->

                            <h4 style=''>Request Parameters</h4>
                            <table class='tables'>
                                    <thead>
                                        <tr>
                                            <td>Parameter</td>
                                            <td>Description</td>
                                            <td>Parameter Type</td>
                                            <td>Data Type</td>
                                            <td>Default</td>
                                            <td>Required?</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set params = r[s]['params'] %}
                                        {% for i in params %}
                                        <tr>
                                            <td>{{ params[i]['name'] }}</td>
                                            <td></td>
                                            <td>{{ params[i]['type'] }}</td>
                                            <td>{{ params[i]['type'] }}</td>
                                            <td>

                                            </td>
                                            <td>{{ params[i]['required'] }}</td>
                                        </tr>
                                    {% end %}
                                    </tbody>
                                </table>

                            <!--END CONTENT-->
                        </div>
                        {% set x = x+1 %}
                    {% end %}

                {% end %}
            {% end %}
        </div>
    </div>
    </div>
</div>
