{% import json %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="API specification">
    <meta name="author" content="DigitalCube">
    <link rel="icon" href="favicon.ico">

    <title>API specification</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--<link href="{{static_url('css/style.css')}}" rel="stylesheet">-->
    <link href="/static/css/style.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">
    <div class="container theme-showcase" role="main">
      <div class="page-header">
        <h1>Projects</h1>
      </div>
      <div class="row">
          <div class="col-md-12">
              {% set g = 0 %}
                     <h4>Version: {{items['api_version']}} :</h4>
                  {% for i in items %}

                        {% if i == 'applications' %}
                          {% for app in items[i] %}
                            {% set appl = items[i][app] %}
                                {% if app!=items['api_version'] %}
                                <h3> -{{app}}</h3>
                                {% end %}
                              {% for appc in appl %}
                                {% set appcall = appl[appc] %}
                                {% set method = appcall['methods'] %}
                                {% set g = g+1  %}

                            <table>
                                <tbody style="margin-top:10px;">
                                <tr>

                                 <td class=" siz bold ">{{appcall['name']}}</td>
                                 <td class=" siz">{{appcall['url']}}</td>
                                 <td class=" siz"> </td>
                                 <td class=" sizr">{{appcall['description']}} </td>

                               </tr>
                              </tbody>
                            </table>

                <table id="tableSearchResults" class="table table-hover  table-striped table-condensed">


                                {% for s in  method %}
                     {% if method[s] != 'Missing docstring' %}

                                {% set bg_stil = s.lower()+'_bg' %}
                              <tbody style="border-top:8px solid white;">
                                {% if s == 'DELETE' or s == 'POST' or s == 'PUT'  or s == 'GET' %}
                                 <tr id="package{{s}}-{{g}}" style=" cursor:pointer; margin-top:5px;" class="{{bg_stil}} accordion-toggle"
                                     data-toggle="collapse" data-parent="#OrderPackages"
                                     data-target=".packageDetails{{s}}-{{g}}">
                                    <td style="margin-top:10px;padding:7px;  border-top-left-radius:5px;border-top-right-radius:5px;">

                                        {% if type(method[s])!=str %}

                                       {% if s == 'GET' %}
                                         <span class=" label label-primary">{{s}}</span>  - {{appcall['url']}}
                                        <span class="indicator right"> {{method[s]['description']}}</span>
                                         {% set clasa = 'get_th ' %}
                                       {% end %}

                                       {% if s == 'PUT' %}
                                        <span class="label label-success">{{s}}</span>  - {{appcall['url']}}
                                        <span class="indicator right">  {{method[s]['description']}}</span>
                                         {% set clasa = 'put_th' %}
                                       {% end %}

                                       {% if s == 'DELETE' %}
                                          <span class="label label-warning">{{s}}</span>  - {{appcall['url']}}
                                        <span class="indicator right"> {{method[s]['description']}}</span>
                                         {% set clasa = 'delete_th' %}
                                        {% else %}
                                       {% end %}

                                       {% if s == 'POST' %}
                                       <span class="label label-danger">{{s}}</span>  - {{appcall['url']}}
                                        <span class="indicator right"> {{method[s]['description']}}</span>
                                         {% set clasa = 'post_th' %}
                                       {% end %}



                                    </td>
                                 </tr>

                                {% if s == 'DELETE' or s == 'POST' or s == 'PUT' or s == 'GET' %}
                                    <td colspan="{{s}}-{{g}}" class="hiddenRow {{bg_stil}}" >
                                    <div class="accordion-body {{bg_stil}} collapse packageDetails{{s}}-{{g}}" id="accordion{{s}}-{{g}}">


                                        {% set ms = method[s]  %}

                                        {% set t = type(ms) %}

                                        {% if t!=str %}

                                          <table>
                                              <tbody class="margina">
                                                 <tr class="{{clasa}}" >
                                                            <th class="bg">Parameters :</th >
                                                            <th class="bg" >Description</th>
                                                            <th class="bg">Type</th>
                                                            <th></th>
                                                            <th class="bg">Requests</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>


                                                        {% for keys in ms['parameters'] %}
                                                               <tr class="siz">
                                                                  <td class="bg">{{keys}}</td>

                                                                  <td class="bg">{{ms['parameters'][keys]['description']}}</td>
                                                                  <td class="bg">{{ms['parameters'][keys]['type']}}<td>
                                                                  <td class="bg">{{ms['parameters'][keys]['req']}}<td>

                                                                </tr>
                                                        {% end %}

                                                  </tr>
                                              </tbody>
                                              <tbody style="padding-top:50px;">
                                                   <tr class="{{clasa}} ">
                                                         <th class="bg">Returns :</th>
                                                         <th class="bg" colspan="6"></th>

                                                        {% for keys in ms['return'] %}
                                                            <tr class="siz">
                                                                <td class="bg">{{keys}}</td>
                                                                <td class="bg">{{json.dumps(ms['return'][keys])}}</td>
                                                                <td class="bg" colspan="5"></td>
                                                            </tr>
                                                        {% end %}

                                                    </tr>
                                              </tbody>
                                          </table>

                                        {% end %}



                                    </div>
                                </td>
                                {% end %}


                                {% end %}

                                {% end %}
                                                              </tbody>
                              {% end %}

                                {% end %}


                </table>




                              {% end %}
                          {% end %}
                        {% else %}
                      <h4> {{ items[i] }}</h4>



                  {% end %}
                {% end %}




        </div>

      </div>






    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
