<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="API specification">
<meta name="author" content="DigitalCube">
<link rel="icon" href="favicon.ico">

<title>API specification</title>

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<link href="/static/css/style.css" rel="stylesheet">



</head>

<body role="document">
<div class="container ">
  <div class="page-header">
    <h1>Projects</h1>
  </div>

<div class="row">
      <div class="col-md-12">
          {% import json %}
          {% set g = 0 %}
          {% for num in [1,0] %}
                {% set name = items[num]['name']%}
                {% set applications = items[num]['order'] %}

                {% if items[num]['name']!='BASE'  %}

                    {% if 'APP_VERSION' in items[num]['data'] %}
                         {% set app_version  = '- '+items[num]['data']['APP_VERSION'] %}
                    {% else %}
                        {% set app_version = '' %}
                    {% end  %}
                {% else %}
                    <hr>
                    {% set app_version  = items[num]['version'] %}

                {% end %}

                <h3>{{ name }} {{app_version}}</h3><hr>



          {% for application in applications %}

              {% set data = items[num]['data'][application] %}

              {% if type(data) != str %}
                  {% if 'description_long' in data %}
                    {% set long_desc = data['doc_description_long'] %}
                  {% else %}
                    {% set long_desc  = '' %}
                  {% end %}

                  {% if 'description' in data %}
                    {% set short_desc = data['doc_description'] %}
                  {% else %}
                     {% set short_desc  = '' %}
                  {% end %}
                  {% if 'urls' in data %}
                  {% set methods = data['urls'] %}
                  {% else %}
                     {% set methods  = '' %}
                  {% end %}

                    {% for m in methods %}

                    {% set link = m %}

                        {% set g =g + 1 %}


                                {% set method = methods[m] %}
                                {% if 'name' in data %}
                                    {% set name = data['name'] %}
                                {% else %}
                                    {% set name = '' %}
                                {% end %}
                                {% if 'doc_description_long' in data %}
                                    {% set short_desc_doc = data['doc_description'] %}
                                    {% set long_desc_doc = data['doc_description_long'] %}
                                {% else %}
                                    {% set short_desc_doc = '' %}
                                    {% set long_desc_doc = '' %}
                                {% end %}
                             <h2 id="" class="capitalize">{{ name }}</h2>
                             <h5 style="color:darkgray;"> {{ short_desc_doc }} ({{long_desc_doc}})</h5>
                                <div id="quickpay-swagger">

                                {% for s in sorted(method) %}
                                {% if method[s] != 'Missing docstring' %}

                                    {% set bg_stil = s.lower()+'_bg' %}
                                    {% if s == 'DELETE' or s == 'PATCH' or s == 'POST' or s == 'PUT'  or s == 'GET' %}

                                        {% if type(method[s])!=str %}
                                            {% set ms = method[s]  %}
                                            {% set t = type(ms) %}

                                                {% if t!=str %}

                                              <div class="panel qp-http-method-{{s}}-light">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#collapse{{s}}-account--{{g}}-format-" aria-expanded="false" aria-controls="collapse{{s}}-account--{{g}}-format-">
                                                  <a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse{{s}}-account--{{g}}-format-" aria-expanded="false" aria-controls="collapse{{s}}-account--{{g}}-format-">
                                                    </a><h3 class="panel-title" id="{{s}}-account--{{g}}-format-"><a href="javascript:void(0);" data-toggle="collapse" data-target="#collapse{{s}}-account--{{g}}-format-" aria-expanded="false" aria-controls="collapseGET-account---format-">
                                                      <span class="label qp-http-method-{{s}}">{{s}}</span>
                                                      {% if method[s]['authorization'] %}
                                                        <img src="/static/img/key_base.png" width="20px" />
                                                      {% end %}
                                                    -  {{link}}
                                                      </a><a style="display: inline-block; margin: 2px 5px; float: right; cursor: pointer;" href="#{{s}}-account--{{g}}-format-"><i class="fa fa-link"></i></a>
                                                      <span style="float: right">{{method[s]['func_description']}}</span>
                                                    </h3>
                                                </div>
                                                <div class="panel-body collapse" id="collapse{{s}}-account--{{g}}-format-">
                                                  <!-- parameters -->
                                                  <h4 style="">Description</h4>
                                                  <table class="table t" style="">
                                                    <thead>
                                                      <tr>
                                                        <td>Description</td>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <!--  -->
                                                      <tr>

                                                          {% set ful_desc = method[s]['func_description_long']  %}
                                                          {% if ful_desc is None  %}
                                                                {% set ful_desc = '' %}
                                                          {% end %}
                                                        <td>{{ful_desc}}</td>
                                                      </tr>
                                                      <!--  -->
                                                    </tbody>
                                                  </table>
                                                  <!-- HTTP codes -->
                                                  <h4 style="">Parameters</h4>
                                                  <table class="table t" style="">
                                                    <thead>
                                                      <tr>
                                                        <td>Parameter</td>
                                                        <td>Description</td>
                                                        <td>Type</td>
                                                        <td>Required</td>
                                                        <td>Example</td>
                                                      </tr>
                                                    </thead>
                                                      <tbody>

                                                    {% for keys in ms['parameters'] %}
                                                       {% if 'description' in ms['parameters'][keys] %}
                                                            {% set p_description = ms['parameters'][keys]['description'] %}
                                                       {% else %}
                                                            {% set p_description = '' %}
                                                       {% end %}

                                                       {% if 'type' in ms['parameters'][keys] %}
                                                            {% set p_type = ms['parameters'][keys]['type'] %}
                                                       {% else %}
                                                            {% set p_type = '' %}
                                                       {% end %}

                                                        {% if 'req' in ms['parameters'][keys] %}
                                                        {{ms['parameters'][keys]['req']}}
                                                            {% set p_req = ms['parameters'][keys]['req'] %}
                                                       {% else %}
                                                            {% set p_req = '' %}
                                                       {%end%}

                                                       {% if 'example' in ms['parameters'][keys] %}
                                                            {% set p_example = ms['parameters'][keys]['example'] %}
                                                       {% else %}
                                                            {% set p_example = '' %}
                                                       {% end %}

                                                        <tr>
                                                          <td>{{keys}}</td>
                                                          <td>{{ p_description }}</td>
                                                          <td>{{ p_type }}</td>
                                                          <td>{{ p_req }}</td>
                                                          <td>{{ p_example }}</td>

                                                        </tr>

                                                {% end %}
                                                 </tbody>

                                                  </table>

                                                  <!-- Models -->

                                                  <h4>HTTP Status code</h4>
                                                  <table class="table t">
                                                    <thead>
                                                      <tr>
                                                        <td>HTTP Status code</td>
                                                        <td>Description</td>
                                                      </tr>
                                                    </thead>
                                                      </tbody>

                                                                                {% for keys in ms['return'] %}

                                                                                    {% if 'description' in ms['return'][keys] %}
                                                                                        {% set r_description = ms['return'][keys]['description'] %}
                                                                                        {% if r_description ==  "Missing description" %}
                                                                                                {% set r_description = '' %}
                                                                                        {% end %}
                                                                                    {% else %}
                                                                                        {% set r_description = '' %}
                                                                                    {% end %}

                                                                                    <tr class="siz">
                                                                                        <td>{{keys}}</td>
                                                                                        <td>{{ r_description }}</td>
                                                                                    </tr>
                                                                                {% end %}
                                                      </tbody>

                                                  </table>


                                                </div>
                                              </div>
                                             <!--<div style="margin:10px;">-->
                                            <!--<tr id="package{{s}}-{{g}}" style=" cursor:pointer; margin-top:5px;" class="{{bg_stil}} accordion-toggle"-->
                                                <!--data-toggle="collapse" data-parent="#OrderPackages"-->
                                                <!--data-target=".packageDetails{{s}}-{{g}}">-->
                                                <!--<td style="margin-top:10px;padding:7px; top:10px;  border-top-left-radius:0px;border-top-right-radius:0px;">-->

                                                   <!--{% if s == 'GET' %}-->
                                                        <!--<span class=" label label-primary">{{s}}</span>-->
                                                            <!--{% if method[s]['authorization'] %}-->
                                                                <!--<img src="/static/img/key_base.png" width="20px" />-->
                                                            <!--{% end %}-->
                                                    <!-- - <span class="lab"> {{link}}     &nbsp&nbsp&nbsp </span>-->
                                                        <!--<span class="indicator right"> {{method[s]['func_description']}}</span>-->
                                                        <!--{% set clasa = 'get_th ' %}-->
                                                   <!--{% end %}-->

                                                   <!--{% if s == 'PUT' %}-->
                                                        <!--<span class="label label-success">{{s}}</span>-->
                                                            <!--{% if method[s]['authorization'] %}-->
                                                                <!--<img src="/static/img/key_base.png" width="20px" />-->
                                                            <!--{% end %}-->
                                                    <!-- -  {{link}}  <span class="lab"> &nbsp&nbsp&nbsp  </span>-->

                                                        <!--<span class="indicator right">  {{method[s]['func_description']}}</span>-->
                                                        <!--{% set clasa = 'put_th' %}-->
                                                   <!--{% end %}-->

                                                   <!--{% if s == 'DELETE' %}-->
                                                        <!--<span class="label label-warning">{{s}}</span>-->
                                                            <!--{% if method[s]['authorization'] %}-->
                                                                <!--<img src="/static/img/key_base.png" width="20px" />-->
                                                            <!--{% end %}-->
                                                    <!-- -  {{link}} <span class="lab"> &nbsp&nbsp&nbsp</span>-->
                                                         <!--<span class="indicator right"> {{method[s]['func_description']}}</span>-->
                                                        <!--{% set clasa = 'delete_th' %}{% else %}-->
                                                   <!--{% end %}-->

                                                    <!--{% if s == 'PATCH' %}-->
                                                        <!--<span class="label label-patch">{{s}}</span>-->
                                                            <!--{% if method[s]['authorization'] %}-->
                                                                <!--<img src="/static/img/key_base.png" width="20px" />-->
                                                            <!--{% end %}-->
                                                    <!-- - <span class="lab"> {{link}}   &nbsp&nbsp&nbsp-->
                                                        <!--<span class="indicator right"> {{method[s]['func_description']}}</span>-->
                                                        <!--{% set clasa = 'patch_th' %}-->
                                                   <!--{% end %}-->

                                                   <!--{% if s == 'POST' %}-->
                                                        <!--<span class="label label-danger">{{s}}</span>-->
                                                            <!--{% if method[s]['authorization'] %}-->
                                                                <!--<img src="/static/img/key_base.png" width="20px" />-->
                                                            <!--{% end %}-->
                                                    <!-- - <span class="lab"> {{link}} &nbsp&nbsp&nbsp-->
                                                        <!--<span class="indicator right"> {{method[s]['func_description']}}</span>-->
                                                        <!--{% set clasa = 'post_th' %}-->
                                                   <!--{% end %}-->

                                                <!--</td>-->
                                            <!--</tr>-->

                                            <!--{% if s == 'DELETE' or s == 'POST' or s == 'PATCH' or s == 'PUT' or s == 'GET' %}-->

                                                    <!--<td colspan="{{s}}-{{g}}" class=" hiddenRow {{bg_stil}}" >-->

                                                        <!--<div class="padd-l accordion-body {{bg_stil}} collapse packageDetails{{s}}-{{g}}" id="accordion{{s}}-{{g}}">-->

                                                            <!--{% set ms = method[s]  %}-->

                                                            <!--{% set t = type(ms) %}-->

                                                            <!--{% if t!=str %}-->


                                                            <!--<table class="bgd ">-->
                                                                    <!--<tbody>-->
                                                                        <!--<tr>-->
                                                                         <!--<td class=" siz bold "></td>-->
                                                                         <!--<td class=" siz"></td>-->
                                                                         <!--<td class=" siz"> </td>-->
                                                                         <!--<td class=" sizr"></td>-->
                                                                        <!--</tr>-->
                                                                    <!--</tbody>-->
                                                                <!--</table>-->
                                                            <!--<table class="  backgroundtable">-->
                                                                      <!--<tbody class="padd-t margina">-->
                                                                        <!--<tr>-->
                                                                         <!--<tr class="{{clasa}}" >-->
                                                                                <!--<th class="bg">Description :</th >-->


                                                                         <!--</tr>-->



                                                                        <!--<tr class="siz">-->

                                                                                  <!--<td class="bg">{{method[s]['func_description_long']}}<td>-->


                                                                                <!--</tr>-->

                                                                      <!--</tbody>-->


                                                              <!--</table>-->

                                                        <!--</div>-->
                                                        <!--<div class="padd-l accordion-body {{bg_stil}} collapse packageDetails{{s}}-{{g}}" id="accordion{{s}}-{{g}}">-->
                                                                    <!--<br/><table class=" backgroundtable">-->

                                                                          <!--<tbody class="  ">-->

                                                                             <!--<tr class="{{clasa}}" >-->
                                                                                    <!--<th class="bg">Parameters :</th >-->
                                                                                    <!--<th class="bg" >Description</th>-->
                                                                                    <!--<th class="bg">Type</th>-->
                                                                                    <!--<th></th>-->
                                                                                    <!--<th-->
                                                                                    <!--class="bg">Required	</th>-->
                                                                                    <!--<th></th>-->
                                                                                    <!--<th class="bg">Example</th>-->
                                                                             <!--</tr>-->


                                                                            <!--{% for keys in ms['parameters'] %}-->
                                                                                   <!--{% if 'description' in ms['parameters'][keys] %}-->
                                                                                        <!--{% set p_description = ms['parameters'][keys]['description'] %}-->
                                                                                   <!--{% else %}-->
                                                                                        <!--{% set p_description = '' %}-->
                                                                                   <!--{% end %}-->



                                                                                   <!--{% if 'type' in ms['parameters'][keys] %}-->
                                                                                        <!--{% set p_type = ms['parameters'][keys]['type'] %}-->
                                                                                   <!--{% else %}-->
                                                                                        <!--{% set p_type = '' %}-->
                                                                                   <!--{% end %}-->

                                                                                    <!--{% if 'req' in ms['parameters'][keys] %}-->
                                                                                        <!--{% set p_req = ms['parameters'][keys]['req'] %}-->
                                                                                   <!--{% else %}-->
                                                                                        <!--{% set p_req = '' %}-->
                                                                                   <!--{%end%}-->

                                                                                   <!--{% if 'example' in ms['parameters'][keys] %}-->
                                                                                        <!--{% set p_example = ms['parameters'][keys]['example'] %}-->
                                                                                   <!--{% else %}-->
                                                                                        <!--{% set p_example = '' %}-->
                                                                                   <!--{% end %}-->
                                                                             <!--<tr class="siz">-->

                                                                                      <!--<td class="bg">{{keys}}</td>-->

                                                                                      <!--<td class="bg">{{ p_description }}</td>-->
                                                                                      <!--<td class="bg">{{ p_type }}<td>-->
                                                                                      <!--<td class="bg">{{ p_req }}<td>-->
                                                                                      <!--<td class="bg">{{ p_example }}<td>-->

                                                                                    <!--</tr>-->
                                                                            <!--{% end %}-->

                                                                          <!--</tbody>-->

                                                                    <!--</table>-->
                                                             <!--</div>-->
                                                        <!--<div class="padd-l accordion-body {{bg_stil}} collapse packageDetails{{s}}-{{g}}" id="accordion{{s}}-{{g}}">-->
                                                            <!--<br/><table class="">-->
                                                                 <!--<tbody style="padding-top:0px;">-->
                                                                           <!--<tr class="{{clasa}} ">-->
                                                                                 <!--<th class="bg">HTTP Status Code</th>-->
                                                                                 <!--<th class="bg"></th>-->
                                                                                 <!--<th class="bg">Description</th>-->

                                                                                <!--{% for keys in ms['return'] %}-->

                                                                                    <!--{% if 'description' in ms['return'][keys] %}-->
                                                                                        <!--{% set r_description = ms['return'][keys]['description'] %}-->
                                                                                    <!--{% else %}-->
                                                                                        <!--{% set r_description = '' %}-->
                                                                                    <!--{% end %}-->

                                                                                    <!--<tr class="siz">-->
                                                                                        <!--<td class="bg">{{keys}}</td>-->
                                                                                        <!--<td class="bg"></td>-->
                                                                                        <!--<td class="bg">{{ r_description }}</td>-->
                                                                                    <!--</tr>-->
                                                                                <!--{% end %}-->

                                                                            <!--</tr>-->
                                                                 <!--</tbody>-->
                                                            <!--</table><br/>-->
                                                        <!--</div>-->

                                                    <!--</td>-->
                                            <!--{% end #str if%}-->
                                            <!--{% end %}-->

                                        {% end # if %}
                                        {% end # if %}

                                    {% end # if %}
                                {% end %}
                             {% end #for mode  %}


                    {% end #for mode  %}
              {% end #if  %}

          {% end # first for%}


          {% end # for num in range([1,0]) %}



        </div>
    </div>
</div>
</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>

</html>