__VERSION__ = '0.2.2'

APPS = [
     '/project_home_dir/mockupecho',
]

BASE_APPS = [
     'base_api.users',
     'base_api.hash2params',
     'base_api.options',
     'base_api.mail_api',
]

LOG_DIR = '/var/log/base'
DEBUG = True

APP_DB = None  # leave None - dinamicaly filled

TEST_MODE = False
TEST_PORT = 8778

TEST_USER = None
TEST_USER_PWD = None
APP_TESTS = None
BASE_TEST = False
LB = False  # True for balancing instance in application
BALANCE = False     # list of balance servers in application
APP_PREFIX = None
SESSION_STORAGE = 'DB' # 'DB' | 'REDIS'
REDIS_SERVER = 'localhost'
REDIS_PORT = 6379
CHANGE_EMAIL_ADDRESS = 'http://localhost:8778/change'
MASTER=False    # IP address of the master server
MAIL_API_KEY = 'mandrillapikey'
MAIL_CHANNEL = 'BSM'
MAIL_CHANNEL_TIMEOUT = 2
